{% extends 'main/base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}
{% load static %}
<div class="product_list">
	{% for i in dataSet %}
	{% if i.active %}

	<br>
	<div class="card flex-element">
		{% if i.image %}
		<img class="thumbnail" src="{{ i.image.url }}">
		{% else %}
		<img class="thumbnail" src="{% static 'images/placeholder.png' %}">
		{% endif %}
		<div class="box-element product">
			<p class="card-title big-title"><strong>{{i.name}}</strong></p>
			<button  class="btn btn-outline-secondary add-btn update-cart" data-product="{{i.id}}" data-action="add" id="update">Add to Cart</button>
			<a class="btn btn-outline-success" href="#">View</a>
			<h4 style="display: inline-block;"><strong>${{i.price|floatformat:2}}</strong></h4>

		</div>
	</div>
	<br>
	{% endif %}
	{% endfor %}

</div>
	<div class="lowest_button">
	{% if dataSet.has_previous %}
	<a href="{% url 'view_products' number_minus %}" class="" >
		<button  class="btn btn-outline-secondary " ><- previous page</button>
	</a>
	{% endif %}
	{% if dataSet.has_next %}
	<a href="{% url 'view_products' number_plus %}" style="margin-left:4px;" class="" >
		<button  class="btn btn-outline-secondary ">next page -></button>
	</a>
	{% endif %}
	</div>

{% endblock %}

